{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row my-auto">
        <div id="about" class="col-xs-12 col-sm-11 col-md-8 col-lg-5">
            <h3 class="m-3 ms-lg-4 ps-lg-2 pt-3">The perfect place to get your perfect <i class="fas fa-tshirt"></i> and more!</h3>
            <p class="m-2 ms-lg-4 p-2 lh-2">At Green Bean we believe that with great design comes great responsibily for the environment and those who help us make it happen. That's why all our products are responsibly sourced, made from recycled and recycable materials and by those who we know are compensated fairly for their work.
            <span class="text-yellow">Support our passion and our partners!</span></p>
            <div class="d-flex justify-content-center my-2 my-md-3">
                <a class="link-button p-2 my-3 me-md-5 fs-6 text-uppercase" href="{% url 'products:products' %}">Shop with us <strong>NOW!</strong></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}