{% load widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h4 class="modal-title">You are rating "{{ product }}"</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        <!-- Form -->
        {% for field in form %}
        <div class="form-group">
            <!-- Hide the fields for user and product -->
            {% if field.label == 'Comment' %}
            <div class="d-block mt-2">
                <!-- <h3 class="my-2"><label for="{{ field.id_for_label }}">{{ field.label }}</label></h3> -->
                {% render_field field class="form-control" placeholder="Leave commment" %}
            </div>
            {% elif field.label == "Rating" %}
            <!-- Table for ratings -->
            <div>
                <h3 class="my-2 d-none"><label for="{{ field.id_for_label }}">{{ field.label }}</label></h3>
                <table>
                    <tbody class="rating-list">
                        {% for radio in form.rating %}
                        <tr>
                            <td><span class="rating-radio me-3">{{ radio.tag }}</span></td>
                            <td><label class="text-smaller me-3"
                                    for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label></td>
                            <td><label for="{{ radio.id_for_label }}">
                                    {% if radio.id_for_label == 'id_rating_4' %}
                                        {% include 'products/includes/5_stars.html' %}
                                    {% elif radio.id_for_label == 'id_rating_3' %}
                                        {% include 'products/includes/4_stars.html' %}
                                    {% elif radio.id_for_label == 'id_rating_2' %}
                                        {% include 'products/includes/3_stars.html' %}
                                    {% elif radio.id_for_label == 'id_rating_1' %}
                                        {% include 'products/includes/2_stars.html' %}
                                    {% else %}
                                        {% include 'products/includes/1_star.html' %}
                                    {% endif %}
                                </label></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="d-none">
                <h3 class="my-2"><label for="{{ field.id_for_label }}">{{ field.label }}</label></h3>
                {% render_field field class="form-control" placeholder=field.label %}
            </div>
            {% endif %}
        </div>
        <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add rating</button>
    </div>
</form>