<!-- Filters and sort options -->
<div id="filters" class="offcanvas offcanvas-top mx-auto bg-light w-sm-100 w-md-75">
    <div class="row mb-3">
    <form action="{% url 'products:products' %}" method="GET">
        <div
            class="row text-uppercase small m-2 mb-0 me-5 justify-content-center justify-content-md-end fw-bolder small">
            Filter / Sort
            <small type="button" class="btn-close ms-1 mt-1 fw-bold text-dgreen" data-bs-dismiss="offcanvas"
                aria-label="Close"></small>
        </div>
        {% csrf_token %}
        <!-- Filters for LARGE SCREENS -->
        <div class="container-fluid p-3 d-none d-lg-flex flex-row">
            <!-- Select color -->
            <div class="col px-5">
                <p class="text-dgreen text-uppercase fs-6 fw-bold mb-2">Color</p>
                <div class="d-flex flex-row flex-wrap lh-2">
                    <div class="d-flex flex-row flex-wrap mt-2">
                        {% for color in color_list %}
                        <div class="circle bg-{{ color.slug }} {% if color.slug == 'white' %}border border-secondary{% endif %} me-2 mb-2">
                            <input id="id_color-lg-{{ color.slug }}" type="radio" class="color d-none" name="color"
                                value="{{ color.slug }}">
                            <label for="id_color-lg-{{ color.slug }}" class="circle"></label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Select size -->
            <div class="col px-5">
                <p class="text-dgreen text-uppercase fs-6 fw-bold mb-2">Size</p>
                <div class="d-flex flex-row flex-wrap my-2 mb-2">
                    {% for size in size_list %}
                    <div class="size-box my-2 me-2">
                        <input id="id_size-lg-{{ size.slug }}" type="radio" class="size d-none" name="size"
                            value="{{ size.slug }}">
                        <label for="id_size-lg-{{ size.slug }}"
                            class="border size-box smaller-text">{{ size.size_short}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Select category -->
            <div class="col px-5">
                <p class="text-dgreen text-uppercase fs-6 fw-bold mb-2">Category</p>
                <div class="category-selector mt-2">
                    {% for category in category_list %}
                    <div class="category">
                        <input id="id_category-lg-{{ category.slug }}" type="radio" class="d-none" name="category"
                            value="{{ category.slug }}">
                        <label for="id_category-lg-{{ category.slug }}"
                            class="dropdown-item">{{ category.friendly_name}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Sorting -->
            <div class="col px-5">
                <p class="text-dgreen text-uppercase fs-6 fw-bold mb-2">Sort by...</p>
                <!-- Rating -->
                <div class="sort-type">
                    <input id="lg-rating" name="sort" value="rating" type="radio" class="d-none">
                    <label for="lg-rating" class="dropdown-item sort-type">Rating</label>
                </div>
                    <!-- Price ascending -->
                <div class="sort-type">
                    <input id="lg-price-low-first" name="sort" value="price-asc" type="radio" class="d-none">
                    <label for="lg-price-low-first" class="dropdown-item sort-type">Price (lowest
                        first)</label>
                </div>
                    <!-- Price descending -->
                <div class="sort-type">
                    <input id="lg-price-high-first" name="sort" value="price-desc" type="radio" class="d-none">
                    <label for="lg-price-high-first" class="dropdown-item sort-type">Price (highest
                        first)</label>
                </div>
                <!-- Name ascending -->
                <div class="sort-type">
                    <input id="lg-name-a-z" name="sort" value="name-asc" type="radio" class="d-none">
                    <label for="lg-name-a-z" class="dropdown-item sort-type">Name (A-Z)</label>
                </div>
                <!-- Name descending -->
                <div class="sort-type">
                    <input id="lg-name-z-a" name="sort" value="name-desc" type="radio" class="d-none">
                    <label for="lg-name-z-a" class="dropdown-item sort-type">Name (Z-A)</label>
                </div>
            </div>
        </div>
        <!-- Filters for SMALL SCREENS/MOBILES -->
        <div id="filters-small"
            class="container-fluid p-3 px-md-5 d-sm-block d-md-block d-lg-none justify-content-center">
            <!-- Select color -->
            <div class="col my-2">
                <a class="text-dgreen text-uppercase undecorated fs-6 fw-bold mb-3" data-bs-toggle="collapse"
                    href="#colors">Color</a>
                <div id="colors" class="collapse">
                    <div class="d-flex flex-row flex-wrap">
                        <div class="color d-flex flex-row flex-wrap mt-2">
                            {% for color in color_list %}
                            <div class="circle bg-{{ color.slug }} {% if color.slug == 'white' %}border border-secondary{% endif %} me-2 mb-1">
                                <input id="id_color-{{ color.slug }}" type="radio" class="color d-none"
                                    name="color" value="{{ color.slug }}">
                                <label for="id_color-{{ color.slug }}" class="circle"></label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Select size -->
            <div class="col my-2">
                <a class="text-dgreen text-uppercase undecorated fs-6 fw-bold mb-3" data-bs-toggle="collapse"
                    href="#size">Size</a>
                <div id="size" class="collapse">
                    <div class="d-flex flex-row flex-wrap my-2">
                        {% for size in size_list %}
                        <div class="size-box my-2 me-2">
                            <input id="id_size-{{ size.slug }}" type="radio" class="size d-none" name="size"
                                value="{{ size.slug }}">
                            <label for="id_size-{{ size.slug }}"
                                class="border size-box smaller-text">{{ size.size_short}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Select category -->
            <div class="col my-2">
                <a class="text-dgreen text-uppercase undecorated fs-6 fw-bold mb-2" data-bs-toggle="collapse"
                    href="#category">Category</a>
                <div id="category" class="collapse">
                    {% for category in category_list %}
                    <div class="category w-50">
                        <input id="id_category-{{ category.slug }}" type="radio" class="d-none" name="category"
                            value="{{ category.slug }}">
                        <label for="id_category-{{ category.slug }}"
                            class="dropdown-item">{{ category.friendly_name}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Sorting -->
            <div class="col my-2">
                <p class="text-dgreen text-uppercase undecorated fs-6 fw-bold mb-2" data-bs-toggle="collapse"
                    href="#sort">Sort by...</p>
                <div id="sort" class="collapse">
                    <!-- Rating -->
                    <div class="sort-type w-50">
                        <input id="rating" name="sorting" value="rating" type="radio" class="d-none">
                        <label for="rating" class="dropdown-item">Rating</label>
                    </div>
                    <!-- Price ascending -->
                    <div class="sort-type w-50">
                        <input id="price-low-first" name="sorting" value="price-low-first" type="radio" class="d-none">
                        <label for="price-low-first" class="dropdown-item">Price (lowest
                            first)</label>
                    </div>
                    <!-- Price descending -->
                    <div class="sort-type w-50">
                        <input id="price-high-first" name="sorting" value="price-high-first" type="radio" class="d-none">
                        <label for="price-high-first" class="dropdown-item">Price (highest
                            first)</label>
                    </div>
                    <!-- Name ascending -->
                    <div class="sort-type w-50">
                        <input id="name-a-z" name="sorting" value="name-a-z" type="radio" class="d-none">
                        <label for="name-a-z" class="dropdown-item">Name (A-Z)</label>
                    </div>
                    <!-- Name descending -->
                    <div class="sort-type w-50">
                        <input id="name-z-a" name="sorting" value="name-z-a" type="radio" class="d-none">
                        <label for="name-z-a" class="dropdown-item">Name (Z-A)</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="filter-controls" class="text-center">
            <button id="clear-filters" class="btn main-btn-2 me-2">Clear filter</button>
            <button class="btn main-btn-1 mx-auto" type="submit">Apply filters</button>
        </div>
    </form>
    </div>
</div>