/* --- Landing page --- */
.home {
    font-size: 1.2rem;
    bottom: 0;
    background-color: rgba(227, 240, 240, 1);
}

.home a {
    text-decoration: none;
    color:rgb(17, 65, 74)
}

.home-overlay {
    background: #e6e3e3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#about {
    border-radius: 5px;
    font-size: 1.2rem;
}
.home-img {
    background: url(https://res.cloudinary.com/dcslh2m3b/image/upload/v1652894048/GreenBean/pexels-teddy-tavan-4890733_mxqmip_square_czzo7j.jpg) no-repeat center center;
    background-size: 600px auto;
}

.home-img-container {
    top: 0;
    bottom: 0;
    background-color: rgb(29, 68, 116) !important;
    background-size: 1000px auto;
    height: calc(100vh - 60px);
}


/* --- Media queries --- */

@media only screen and (max-width: 1160px) {

    .home-img-container {
        background-size: 700px auto;
        background-position-y: center;
        background-position-x: center;
    }

    #about {
        top: 0;
        bottom: 0;
        font-size: 1.3em;
    } 
}

@media only screen and (max-width: 991px) {

    .home-img-container {
        background-size: 800px auto;
    }

    #about {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 768px) {

    .page-wrapper {
        min-height: 90%;
    }

    .home-img-container {
        height: 30vh;
        background-size: 300px auto;
    }

}

@media only screen and (max-width: 450px) {

    #about {
        border-radius: 5px;
    }
}