{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}"> -->
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="img-background"></div>
    <div class="container min-top-margin">
        <div class="row bg-light-transparent p-3 rounded">
            <div class="col">
                <h2 class="text-dgreen">My Profile</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-dgreen fs-5">Default Delivery Address</p>
                    <form class="mt-3" action="{% url 'profiles:profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.name == "default_country" %}
                            <div>{% render_field field id="default_country" class="form-select p-1 text-smaller" %}</div>
                        {% else %}
                            <div>{% render_field field class="form-control p-1 text-smaller" %}</div>
                        {% endif %}
                            <!-- Block to display field errros -->
                        <div class="mt-1 {% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                            <p class="help-block text-warning">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                        <button class="bg-success text-light float-right px-2 my-2">Update Information</button>
                    </form>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="text-dgreen fs-5">My orders</p>
                </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}
