{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}"> -->
{% endblock %}

{% block page_header %}
<div class="container p-4 p-lg-5 pb-0 pb-lg-1">
    <h2 class="text-dgreen">Update information</h2>
    <h3 class="text-secondary">{{ user.username }}</h3>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-dgreen fs-5">Default Delivery Address</p>
                    <form class="mt-3" action="{% url 'profiles:update_profile' request.user.userprofile.pk %}" method="POST" id="profile-update-form">
                        {% csrf_token %} 
                        {{ form.fullname | as_crispy_field }}
                        {{ form.default_street_address1 | as_crispy_field }}
                        {{ form.default_street_address2 | as_crispy_field }}
                        {{ form.default_town_or_city | as_crispy_field }}
                        {{ form.default_county | as_crispy_field }}
                        {{ form.default_postcode | as_crispy_field }}
                        {{ form.default_country | as_crispy_field }}
                        {{ form.default_phone_number | as_crispy_field }}
                        <div class="d-none d-md-block d-flex flex-row">
                            <button type="submit" class="btn main-btn-1 me-2">Update Information</button>
                            <a href="{% url 'profiles:profile' request.user.userprofile.pk %}" class="btn main-btn-2">Cancel</a>
                        </div>
                        <div class="d-block d-md-none ">
                            <button type="submit" class="btn main-btn-1 my-2">Update Information</button>
                            <a href="{% url 'profiles:profile' request.user.userprofile.pk %}" class="btn main-btn-2">Cancel</a>
                        </div>
                    </form>
                </div>
        </div>
   
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/country_selector_color.js' %}"></script>
{% endblock %}
