/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* ---All content--- */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Neucha', sans-serif;
    font-size: 1rem;
}

main {
    font-size: 1.1rem;
}

/* Specify html height and size to allow positioning of the footer */
html {
    height: 100%;
    top: 0;
    bottom: 0;
}

/* Specify body height and size to allow positioning of the footer */
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 1.1rem;
}

/* --- Footer --- */

.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -62px;
}

.page-wrapper:after {
    content: "";
    display: block;
  }

.site-footer, .page-wrapper:after {
    /* .push must be the same height as footer */
    height: 62px; 
}

/* Font styling for author name */
footer div span {
    font-family: "Festive", cursive;
}

/* ---- Text styling ---- */

.text-smaller {
    font-size: 0.9rem;
}

small {
    font-size: 0.7em;
}

.undecorated {
    text-decoration: none;
}

/* .font-ubuntu {
    font-family: 'Ubuntu', sans-serif !important;
    font-family: 'Amatic SC', cursive;
} */

/* .font-amatic {
    font-family: 'Amatic SC', sans-serif, !important;
    font-size: 1.1rem;
}

.font-shadows {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.05rem;
} */

/* Text colors */

.text-dgreen {
    color: rgb(17, 65, 74);
}

.text-green {
    /* color: rgba(18, 95, 61, 1); */
    color: rgba(11, 110, 128, 1)
}

.text-yellow {
    /* color: rgb(184, 141, 12); */
    color: rgb(211, 163, 19);
}

.text-lgreen {
   color: rgb(180, 216, 192);
}

.text-orange {
    color: rgba(238, 125, 15, 1);
}

.text-dorange {
    color: rgba(247, 96, 18, 1);
}

.text-red {
    color: rgba(131, 59, 47, 1);
}

.text-blue {
    color: rgb(29, 68, 116);
}

/* ---- Background colors ---- */
.bg-dgreen {
    background-color: rgb(17, 65, 74);
}

.bg-green {
    background-color: rgb(25, 116, 48)
}

.bg-lgreen {
    background-color: rgb(180, 216, 192) !important;
 }

.bg-orange {
     background-color: rgba(238, 125, 15, 1);
}

.bg-yellow {
    background-color: rgba(233, 179, 20, 1);
}

.bg-red {
    background-color: rgb(197, 22, 39)
}

.bg-blue {
    background-color: rgb(29, 68, 116);
}

.bg-grey {
    background: rgba(134, 136, 133, 0.353);
}

.bg-purple {
    background: rgba(140, 38, 218, 1);
}

.bg-brown {
    background: rgb(121, 79, 7);
}

.link-text {
    text-decoration: none;
    color: rgba(11, 110, 128, 1);
    font-weight: bolder;
}

/* --- Overlays and backgrounds --- */

/* User login/registration overlay */
.auth-overlay {
    background: rgba(11, 110, 128, 0.369);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.img-background {
    /* background: rgb(199, 215, 234); */
    background: url(https://res.cloudinary.com/dcslh2m3b/image/upload/v1649103645/GreenBean/pexels-gin-patin-2692556_tvfmnu.jpg);
    position: fixed;
    background-size: 1500px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.bg-light-transparent {
    background-color: rgb(248, 249, 250, 0.7);
}

/* --- Other global --- */

.pointer {
    cursor: pointer;
}

.img-preview {
    height: 150px;
    width: auto;
}

/* --- Buttons --- */
/* Override bootstrap styling for various buttons */
.btn {
    color: rgb(252, 251, 251) !important;
    font-family: 'Shadows Into Light', cursive;
    background-color:rgb(7, 30, 34) !important;
}

button {
    background: none;
    color: rgb(72, 65, 62);
    border: none;
}

button:focus,
button:active {
    border: none;
}

.main-btn-1 {
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}

.main-btn-2 {
    color: rgb(17, 65, 74)!important;
    background-color: rgb(252, 251, 251) !important;
    border: 1px solid rgb(17, 65, 74) !important;
    text-transform: uppercase;
    text-decoration: none;
}

.main-btn-3 {
    color: rgba(131, 59, 47, 1) !important;
    background-color: rgb(252, 251, 251) !important;
    border: 1px solid rgb(131, 59, 47, 1) !important;
    text-transform: uppercase;
    text-decoration: none;
}

.input-btn {
    border: none;
}

.link-button {
    background: rgba(233, 179, 20, 1);
    color: rgb(72, 65, 62);
    font-family: 'Shadows Into Light', cursive;
    border-radius: 0.3em !important;
    border: none;
    padding: 2px;
    margin: 2px;
    font-size: 1em;
    text-decoration: none;
}

.border-dgreen {
    border: 1px solid rgb(17, 65, 74);
}

/* --- Top banner --- */
.top-banner-text {
    color: #fafafa;
}

#top-banner {
    right: 0;
    left: 0;
    width: 100vw;
    padding-bottom: 2px;
    background: #0b6e80;
    font-family: 'Red Hat Mono', monospace !important;
}

/* --- Logo --- */
.logo-text {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    color:rgb(30, 49, 35) !important;
}

/* Watermark logo text on allouth pages */
.logo-watermark {
    text-decoration: none;
    font-size: 5rem;
    font-family: 'Amatic SC', cursive;
    color:rgba(30, 49, 35, 0.17);
    transform: rotate(6.2rad);
}

.main-nav {
    right: 0;
    left: 0;
    background: white;
}

/* Override bootstrap styling for menu collapse button */
.navbar-toggler {
    border: none !important;
}

/* Sub-menu text styling*/
.dropdown-item {
    color: rgb(74, 75, 74) !important;
}

.menu-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.05rem;
    color: rgb(30, 49, 35) !important;
}

/* --- Search bar --- */
#searchBar {
    margin-top: 105px;
    right: 0px;
    left: 0px;
}

.search-bar,
.search-bar:active,
.search-bar:focus {
    border-radius: 2px;
    background-color: rgb(231 231 231);
}

.search-input {
    background: none;
    border: none;
    border-radius: 15px;
}

.search-input:focus,
.search-input:active {
    border-color: none;
    box-shadow: none;
    outline: none;
}

.icon {
    color: rgb(30, 43, 34, 0.8);
    font-size: 0.9em;
}

.bag-item-counter {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: rgba(238, 125, 15, 1);
    padding: 3px 1px 1px 1px;
    color:rgb(248, 249, 250);
    font-size: 0.7em;
    text-align: center;
}

/* --- Landing page --- */

#filter-results span {
    font-size: 1.1em;
}

/* Toast */
.toast {
    margin-top: 100px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}
 
.toast-capper {
    height: 2px;
}

.bag-items-wrapper {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Apply coursor to links accross the site */
/* Update and remvoe link in the bag, used to apply js */
.btt-link, 
.update-link, 
.remove-item {
    cursor: pointer;
}

/* Mailchimp form */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 90%;
}

#mc-toggle-btn,
#mc-toggle-btn-sm {
    right: 0;
    bottom: 20%;
    transform: rotate(-90deg);
    margin-right: -30px;
    background-color: rgba(131, 59, 47, 1) !important;
}

.offcanvas-end {
    top: auto !important;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
}

/* --- Profile pages --- */

div .table { 
    display:table; 
}
div .table-row { display:table-row; }
div .table-cell { display:table-cell; }

.table>:not(caption)>*>* {
    padding: 0.2rem 0.2rem !important;
    /* background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); */
}

.row {
    --bs-gutter-x: 2rem !important;
}

/* Shopping bag */
.row-centered {
    text-align: center !important;
}

.img-shopping-bag {
    height: auto;
    max-width: 150px;
}

.free-del-banner {
    cursor: default !important;
}

.color-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: black;
}
/* --- Media queries --- */

@media only screen and (max-width: 991px) {

    #top-banner p {
        font-size: 0.9em;
    }

    #page-container {
        margin-top: 110px;
    }
}

@media only screen and (max-width: 768px) {

    #mc-toggle-btn-sm {
        right: 0;
        transform: rotate(0deg);
        margin-right: 3px;
        padding-bottom: 0px;
        bottom: 0;
        background-color: rgba(131, 59, 47, 1);
    }
}

@media only screen and (max-width: 450px) {

    #top-banner p {
        font-size: 0.9em;
    }
    
    footer div {
        font-size: 0.7em;
      }
}