/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

/* font-family: 'Rock 3D', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Palette+Mosaic&family=Red+Hat+Mono&family=Rock+3D&display=swap&family=Roboto+Condensed&display=swap&family=Ubuntu&display=swap');
/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Palette Mosaic', cursive;
font-family: 'Red Hat Mono', monospace;
font-family: 'Rock 3D', cursive;
*/

/* --- Body --- */

body {
    background: url(https://res.cloudinary.com/dcslh2m3b/image/upload/c_scale,e_vectorize,w_2752/v1648340463/GreenBean/pexels-aden-ardenrich-581339_wz67l9.jpg);
}

/* --- Top banner --- */

.top-banner-text {
    color: #fafafa;
    font-family: 'Josefin Sans', sans-serif;
}

#top-banner,
#top-banner h4,
#top-banner icon {
    right: 0px;
    left: 0px;
    padding-bottom: 2px;
    position: absolute;
    background: #0f5132;
    font-family: 'Red Hat Mono', monospace;
}

/* --- Main navigation --- */

.logo-text {
    font-size: 2rem;
    font-family: 'Inspiration', cursive;
    color:rgb(30, 49, 35);
}
.main-nav {
    right: 0px;
    left: 0px;
    margin-top: 29px;
    position: inherit;
    background: white;
}

/* Override bootstrap styling for menu collapse button */
.navbar-toggler {
    border: none !important;
}

.dropdown-item {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(30, 49, 35) !important;
    font-size: 0.8em;
}

.menu-text {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(30, 49, 35) !important;
    /* font-size: 0.8em; */
}

/* #user-options {
    text-decoration: none;
} */

/* --- Search bar --- */

#searchBar {
    margin-top: 93px;
    right: 0px;
    left: 0px;
    position: inherit;
    background: white;
    z-index: -1;
}

#searchBar input,
#searchBar input:active,
#searchBar input:focus,
#searchBar button {
    width: 75%;
    margin: 5 0 5em 0;
    border: none;
    border-bottom: rgba(30, 43, 34, 0.8) solid 1.5px;
    background-color: none !important;
}

#searchBar i {
    background-color: none !important;
}

.icon {
    color: rgb(30, 43, 34, 0.8);
    font-size: 0.9em;
}

#overlay {
    /* background-color: rgba(93, 142, 109, 0.3); */
    background-color: rgba(217, 221, 223, 0.5);
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* z-index: 2; */
}

/* ---- Text styling ---- */

.smaller-text {
    font-size: 0.7em;
}

/* colors */
.text-dgreen {
    color: rgba(30, 43, 34, 1);
    /* background-color: rgba(30, 34, 43, 1); */
}

.text-green {
    color: rgba(18, 95, 61, 1);
}

.text-lgreen {
   color: rgb(180, 216, 192);
}

.text-orange {
    color: rgba(238, 125, 15, 1);
}

.text-dorange {
    color: rgba(247, 96, 18, 1);
}

.text-red {
    color: rgba(237, 45, 13, 1);
}

/* ---- Background colors ---- */

.dgreen {
    background-color: rgba(30, 34, 43, 1);
    /* color: rgba(93, 142, 109, 1); */
}

/* ---- Side Nav ---- */

.side-nav {
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    position: fixed;
}

@media only screen and (max-width: 350px) {
    #top-banner p {
        font-size: 0.8em;
    }

}