/* CSS for products page */

.overlay {
    background: rgba(29, 68, 116, 0.05);
    /* background: rgb(136, 174, 221); */
    /* background: #153d4b; */
    /* background: url(https://res.cloudinary.com/dcslh2m3b/image/upload/c_scale,e_art:incognito,w_1465/v1649103642/GreenBean/pexels-fwstudio-131683_vme1s9.jpg); */
    /* background: url(https://res.cloudinary.com/dcslh2m3b/image/upload/v1649103642/GreenBean/pexels-fwstudio-131683_vme1s9.jpg); */
    background-size: 1150px;
    position: fixed;
    /* display: none; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

/*   */

/* Size indicator box */
.size-box {
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    text-align: center;
    justify-content: center;
    /* background-color: rgba(29, 68, 116, 0.1); */
    /* border: 1px solid rgba(29, 68, 116, 1); */
    cursor: pointer;
    /* z-index: -1; */
    padding-top: 3px;
}

.size-box input[type="radio"]:checked+label {
    /* background-color: rgba(29, 68, 116, 1); */
    /* background-color: rgba(29, 68, 116, 0.5); */
    /* color: rgba(29, 68, 116, 0.1); */
    width: 32px;
    height: 32px;
    padding-top: 4px;
    transform:translate(-2px, -2px);
    border: 1px solid rgb(7, 19, 33) !important;
}

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Color indicators */
.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.circle-white {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgba(7, 19, 33, 1);
    cursor: pointer;
}

.circle input[type="radio"]:checked+label {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    transform:translate(-2px, -2px);
    border: 1px solid rgba(7, 19, 33, 1);
}

.category input[type="radio"]:checked+label {
    /* transform:translate(-2px, -2px); */
    border: 1px solid rgba(7, 19, 33, 1);
}

.sort-type input[type="radio"]:checked+label {
    border: 1px solid rgba(7, 19, 33, 1);
}

/* cards */

.card-img-top {
    margin-top: -6%;
}

.card-img-bg {
    /* background-color: rgba(152, 163, 176, 0.5); */
    /* background: url(https://res.cloudinary.com/dcslh2m3b/image/upload/c_scale,w_465/v1649103642/GreenBean/pexels-fwstudio-131683_vme1s9.jpg);
     */
    background: url(https://res.cloudinary.com/dcslh2m3b/image/upload/c_scale,e_tint,w_465/v1649103642/GreenBean/pexels-fwstudio-131683_vme1s9.jpg);

}

.card-container {
    width: 20%;
    /* box-shadow: 1px 1px 138px -44px rgba(0,0,0,0.52);
    -webkit-box-shadow: 1px 1px 138px -44px rgba(0,0,0,0.52);
    -moz-box-shadow: 1px 1px 138px -44px rgba(0,0,0,0.52); */
}

#filters {
    top: 20vh;
    height: fit-content;
    position: fixed;
    width: 75vw;
}

small {
    font-size: 0.7em;
}

@media only screen and (max-width: 1100px) {
    .card-container {
        width: 25%;
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
        width: 33%;
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        width: 50%;
    }

    #filters {
        width: 100vw;
    }
}

/* @media only screen and (max-width: 768px) {
    .card-container {
        width: 50%;
    }
} */


@media only screen and (max-width: 468px) {
    .card-container {
        width: 100%;
    }
}