/* CSS for products page */

.overlay {
    background: rgba(29, 68, 116, 1);
    /* background: rgb(136, 174, 221); */
    /* background: #153d4b; */
    position: fixed;
    /* display: none; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

/* Size indicator box */

.size-box label {
    box-sizing: border-box;
    width: 32px;
    text-align: center;
    background-color: rgba(29, 68, 116, 0.1);
    /* border: 1px solid rgba(29, 68, 116, 0.2); */
    cursor: pointer;
    z-index:-1;
}

.size-box input[type="radio"]:checked+label {
    /* background-color: rgba(29, 68, 116, 1); */
    background-color: rgba(29, 68, 116, 0.5);
    color: rgba(29, 68, 116, 0.1);
    border: 1px solid rgba(7, 19, 33, 0.2);
}



/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Color indicators */

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.circle input[type="radio"]:checked+label {
    height: 29px;
    width: 29px;
    transform:translate(-2px, -2px);
    border: 1px solid rgba(7, 19, 33, 1);
}
.card-img-top {
    size: 120px;
}

#filters {
    top: 200px;

    height: 100px !important;
    position: fixed;
    /* background: white; */
    /* z-index: 2 ; */
}

small {
    font-size: 0.7em;
}