<div class="collapse navbar-collapse text-dgreen" id="main-nav">
    <div class="container-fluid">
        <ul class="navbar-nav w-auto mx-auto small text-uppercase">
            <!-- <li class="nav-item menu-text d-block d-md-none"> -->
            <li class="nav-item menu-text d-block">
                <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products:products' %}"
                    id="home-link">
                    All products
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="font-weight-bold nav-link menu-text mr-5 me-2" href="#" id="all-products-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by...
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products:products' %}?sort=price&direction=asc" class="dropdown-item">
                        Price (high to low)</a>
                    <a href="{% url 'products:products' %}?sort=price&direction=desc" class="dropdown-item">
                        Price (low to high)</a>    
                    <!-- <a href="{% url 'products:products' %}?sort=rating&direction=desc" class="dropdown-item">
                        Rating</a> -->
                    <a href="{% url 'products:products' %}?sort=category&direction=asc" class="dropdown-item">
                        Category</a>
                    <a href="{% url 'products:products' %}" class="dropdown-item">All</a>
                </div>
            </li>
           
            <li class="nav-item dropdown">
                <a class="font-weight-bold nav-link menu-text mr-5" href="#" id="tshirts-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    T-shirts
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="tshirts-link">
                    <a href="{% url 'products:products' %}?category=new_arrivals" class="dropdown-item">New
                        Arrivals</a>
                    <a href="{% url 'products:products' %}?category=abstract" class="dropdown-item">Abstract</a>
                    <a href="{% url 'products:products' %}?category=nature" class="dropdown-item">Nature</a>
                    <a href="{% url 'products:products' %}?category=anime" class="dropdown-item">Anime</a>
                    <a href="{% url 'products:products' %}?category=new_arrivals,abstract,nature,anime"
                        class="dropdown-item">Collections</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="font-weight-bold nav-link menu-text mr-5" href="#" id="clothing-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Other
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                    <a href="{% url 'products:products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
                    <a href="{% url 'products:products' %}?category=accessories" class="dropdown-item">Accessories</a>
                    <a href="{% url 'products:products' %}?category=artwork" class="dropdown-item">Artwork</a>
                    <!-- <a href="{#% url 'products:products' %#}?category=new_arrivals,abstract,nature,anime"
                        class="dropdown-item">Collections</a> -->
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="font-weight-bold nav-link menu-text" href="#" id="specials-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Special Offers
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                    <!-- <a href="{#% url 'products:products' %#}?category=new_arrivals" class="dropdown-item">New Arrivals</a> -->
                    <a href="{% url 'products:products' %}?category=deals" class="dropdown-item">Deals</a>
                    <a href="{% url 'products:products' %}?category=clearance" class="dropdown-item">Clearance</a>
                    <a href="{% url 'products:products' %}?category=deals,clearance" class="dropdown-item">All
                        Specials</a>
                </div>
            </li>
        </ul>
    </div>
</div>