<a href="{% url 'home:home'%}" class="nav-link main-logo-link">
    <h2 class="logo-text d-block d-lg-none my-0 mx-0 ">GreenBean</h2>
</a>
<!-- Search bar and shopping basket div-->
<div class="d-block d-lg-none">
    <div class="d-flex flex-row justify-content-end align-items-center">
        <!-- Search button -->
        <div class="col fs-5">
            <a data-bs-toggle="offcanvas" href="#searchBar" role="button"
            aria-expanded="false" aria-controls="searchBarBtn"><i class="fas fa-search icon"></i></a>
        </div>
        <!-- Shopping basket -->
        <div id="shopping-cart-mob" class="col my-auto py-1 py-lg-0 pe-1 pe-md-3">
            <a class="nav-link {% if grand_total %}fw-bold{% else %}{% endif %}"
                href="{% url 'bag:view_bag' %}">
                <div class="text-end">
                    <div class="position-relative">
                        <div class="position-absolute top-0 start-100 translate-middle bag-item-counter mt-1 me-2">
                        <!-- <div class="bag-item-counter"> -->
                           {{ product_count }}
                        </div>
                    <i class="fas fa-shopping-bag fa-lg icon me-2"></i>
                    <p class="my-0 icon">
                        {% if total %}
                        £{{ total|floatformat:2 }}
                        {% else %}
                        £0.00
                        {% endif %}
                    </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>