<div class="collapse" id="searchBar">
    <div class="container-fluid">
        <div class="row bg-light">
            <form method="GET" action="{#% url 'products:products' %#}">
                <div class="input-group w-75 mx-auto">
                    <input class="form-control border border-bottom border-black my-5" type="text" name="q" placeholder="Search our site">
                    <span class="my-5 p-0">
                        <button class="form-control border border-black" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
