<div class="collapse" id="searchBar">
    <div class="container-fluid">
        <div class="row bg-light">
            <form method="GET" action="{% url 'products:products' %}">
                <div class="input-group w-75 mx-auto border-bottom">
                     <input class="mx-auto bg-light my-5 me-0" type="text" name="q" placeholder="Search the site">
                    <span class="my-5 me-2">
                        <button class="bg-light" type="submit">
                            <i class="fas fa-search icon"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
