{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid min-top-margin col-xs-12 col-sm-11 col-md-8 p-2">
    <div class="col m-0 m-md-2 p-2 main-text bg-light my-3 my-md-5 m-auto">
        <h2 class="smaller mt-3 my-md-auto ms-2 ms-md-3">{% trans "Change Password" %}</h2>
        <p class="m-0 m-md-2 p-2 mb-2">{% trans 'Your password is now changed.' %}</p>
    </div>
</div>
<div class="auth-overlay">
    <div class="position-absolute bottom-0 end-0 logo-watermark me-3">GreenBean</div>
</div>
{% endblock %}
