{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h2 class="smaller my-auto mx-0 mx-lg-3 mt-2">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% for field in form %}
        <div class="form-group mb-3 mx-2 mx-md-3">
            <div class="col-11 col-md-5">{% render_field field class="form-control" placeholder=field.label %}
            </div>
        </div>
        {% endfor %}
        <button type="submit" name="action" class="bg-success text-light px-2 my-2">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="text-green undecorated fw-bolder">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
