{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col m-0 m-md-2 p-2 main-text bg-light my-3 my-md-5 m-auto">
    <h2 class="smaller mt-3 my-md-auto ms-2 ms-md-3">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="m-0 m-md-2 p-2 mb-2">{% blocktrans %}The password reset link was invalid, possibly because it has
        already been used. Please request a <a href="{{ passwd_reset_url }}">new password
            reset</a>.{% endblocktrans %}</p>
    {% else %}
    <div class="my-3">
        <form method="POST" action="{{ action_url }}">
            {% for field in form %}
            <div class="form-group mb-3 mx-2 mx-md-3">
                <div class="col-11 col-md-5">{% render_field field class="form-control" placeholder=field.label %}
                </div>
            </div>
            {% endfor %}
            <input type="submit" name="action" value="{% trans 'Change password' %}"
                class="px-2 ms-2 ms-md-3 bg-success rounded input-btn" />
        </form>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}