{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-fluid min-top-margin col-xs-12 col-sm-11 col-md-8 p-2">
    <div class="col m-0 m-md-2 p-2 main-text bg-light my-3 my-md-5 m-auto">
        <h2 class="smaller mt-3 my-md-auto ms-2 ms-md-3">{% trans "Password Reset" %}</h2>
    
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p class="m-0 m-md-2 p-2 mb-2">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
</div>
<div class="auth-overlay">
    <div class="position-absolute bottom-0 end-0 logo-watermark me-3">GreenBean</div>
</div>
{% endblock %}
