<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Page not found</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="auth-overlay"></div>
        <h1 class="m-auto">Ooops! This page does not exist.</h1>
        <a class="main-btn-1" href="{% url 'products:products' %}">Go back to shopping</a>
    </body>
</html>