{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Gren Bean Shop for sustainable, recycable and uniquely designed t-shirts and other product.">
    <meta name="keywords"
        content="shop, t-shirt, unique, recycable, recycable clothing, sustainable, sustainable clothing, buy t-shirt, unique t-shirts, unique clothing, designer t-shirt, fun t-shirts">
    <title>GreenBean</title>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>{% block extra_title %}{% endblock %}extra title</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="overlay"></div>
        <!-- Top banner -->
        <div id="top-banner"
            class="d-flex flex-row justify-content-between align-items-center w-100 p-1 top-banner-text">
            <div class="mx-auto">
                <p class="m-0 fs-md-5 text-uppercase">Spend £{{ free_delivery_threshold }} for free
                    delivery!
                </p>
            </div>
            <!-- User menu -->
            <div class="dropdown">
                <div class="text-center">
                    <div class="small fs-md-5 text-uppercase">
                        <!-- Socials -->
                        <i class="fab fa-facebook top-banner-text me-1 me-md-3"></i>
                        <i class="fab fa-instagram-square top-banner-text me-1 me-md-3"></i>
                        <!-- User icon with dropdown -->
                        <a type="button" id="userMenuBtn" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle top-banner-text me-1 me-md-3 pointer"></i>
                        </a>
                        <!-- User dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="userMenuBtn">{% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li><a href="{#% url 'products:add_product' %#}" class="dropdown-item">Manage Products</a>
                            </li>
                            {% endif %}
                            <li><a href="{% url 'profiles:profile' %}" class="dropdown-item">My Profile</a></li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                            <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav pt-1 d-flex flex-col justify-content-between align-items-center mb-0">
            <!-- Logo and main nav div -->
            <div class="col">
                <div class="d-flex m-0">
                    <!-- Logo -->
                    <a href="{% url 'home:home'%}" class="nav-link main-logo-link d-none d-lg-block my-0">
                        <h2 class="logo-text my-0">GreenBean</h2>
                    </a>
                    <!-- Main navigation -->
                    <div class="col flex-grow-1">
                        <nav class="navbar navbar-expand-lg navbar-light w-100">
                            <a class="icon navbar-toggler m-2 m-sm-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="fs-5 border-none"><i class="fas fa-bars"></i></span>
                            </a>
                            {% include 'includes/mobile-nav.html' %}
                            {% include 'includes/main-nav.html' %}
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Search bar and shopping basket div-->
            <div class="row d-none d-lg-block">
                <div class="d-flex flex-row justify-content-end align-items-center">
                    <!-- Search button -->
                    <div class="col fs-5" data-bs-toggle="offcanvas" href="#searchBar" role="button"
                        aria-expanded="false" aria-controls="searchBarBtn">
                        <i class="fas fa-search icon"></i>
                    </div>
                    <!-- Shopping basket -->
                    <div id="shopping-cart" class="col my-auto py-1 py-lg-0">
                        <a class="{#% if grand_total %#} font-weight-bold{#% else %#}{#% endif %#} nav-link"
                            href="{% url 'bag:view_bag' %}">
                            <div class="text-end">
                                <i class="fas fa-shopping-bag fa-lg icon me-2"></i>
                                <p class="my-0 icon">
                                    {% if total %}
                                    ${{ total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/search-bar-popup.html' %}
    </header>

    {% if messages %}
    <div class="message-container">
        {#% for message in messages %#}
        {#% with message.level as level %#}
        {#% if level == 40 %#}
        {#% include 'includes/toasts/toast_error.html' %#}
        {#% elif level == 30 %#}
        {#% include 'includes/toasts/toast_warning.html' %#}
        {#% elif level == 25 %#}
        {#% include 'includes/toasts/toast_success.html' %#}
        {#% else %#}
        {#% include 'includes/toasts/toast_info.html' %#}
        {#% endif %#}
        {#% endwith %#}
        {#% endfor %#}
    </div>
    {% endif %}

    {% block page_header%}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Toast -->
    <!-- <script type="text/javascript">
        $('.toast').toast('show');
    </script> -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>

</html>