{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container-fluid px-2 pt-3 px-lg-5 pt-lg-4 text-dgreen">
    <div class="d-flex flex-row align-items-end mx-sm-1 mx-md-3 mx-lg-5">
        <!-- Info about no of products displayed and filters -->
        <div>
            {% if all_products.count == product_list.count %}
            <h4 class="text-dgreen mb-0 me-md-3">Products: {{ all_products.count }}
            </h4>
            {% else %} 
            <h4 class="text-dgreen mb-0 me-md-3">Products: {{ product_list.count }} of {{ all_products.count }} | <a href="{% url 'products:products' %}" class="undecorated text-yellow fs-5 py-0 px-1" aria-label="Show all">Show all</a>
            </h4>
            <h6 class="mb-0">
                <!-- Check if searched by term -->
                <p class="m-0 mb-1">{% if search_term %}
                    {{ product_list.count }}
                    {% if product_list.count == 1 %}product{% else %}products{% endif %} with keyword
                        '{{ search_term }}'
                {% else %} 
                </p>
                <!-- <span class="text-decoration-underline bg-lgreen rounded mt-1 px-1 py-0">Filtered by</span> -->
                <span class="bg-lgreen rounded mt-1 px-1 py-0">Filtered by</span>
                    {% if current_categories %}
                    <span>{% if current_categories.count == 1 %}Category{% else %}Categories{% endif %}
                     {% for category in current_categories %}"{{ category.friendly_name }}"{% endfor %}&nbsp;|</span>
                    {% endif %}

                    {% if current_colors %}
                    <span>{% if current_colors.count == 1 %}Color{% else %}Colors{% endif %}
                        {% for color in current_colors %}"{{ color.color }}"{% endfor %}&nbsp;|</span>
                    {% endif %}

                    {% if current_sizes %}
                    <span>{% if current_sizes.count == 1 %}Size{% else %}Sizes{% endif %}
                        {% for size in current_sizes %} "{{ size.size_short }}"{% endfor %}&nbsp;|</span>
                    {% endif %}
                    {% if search_term == None and product_list.count == 0 %}
                    No products found
                    {% endif %}
                    <!-- <span class=""> All | {{ product_list.count }}
                        {% if product_list.count == 1 %}product{% else %}products{% endif %}</span>
                    {% endif %}             -->
            {% endif %}
                </h6>
        </div>
        <!-- Link to filters on large devices -->
        <div class="d-none d-md-block flex-grow-1 text-end">
            <small class="text-uppercase undecorated" data-bs-toggle="offcanvas" href="#filters" role="button"
                aria-expanded="false" aria-controls="filters_div" aria-label="Filter and sort button">Filter / sort</small>
        </div>
        <!-- Link to filters on smaller devices -->
        <div class="d-block d-md-none flex-grow-1 text-end pe-3">
            <small class="text-uppercase undecorated" data-bs-toggle="offcanvas" href="#filters" role="button"
                aria-expanded="false" aria-controls="filters_div" aria-label="Filter and sort button"><i class="fas fa-filter text-green"></i></small>
        </div>
        {% include 'products/includes/filters.html' with color_list=color_list category_list=category_list size_list=size_list %}
    </div>
    <hr>
</div>
{% endblock %}

{% block content %}
<!-- Container with product list -->
<div class="container-fluid text-center align-items-center mx-auto">
    <div class="d-flex flex-row flex-wrap mx-sm-1 mx-md-3 mx-lg-5">
    <!-- <div class="d-flex flex-row justify-content-center flex-wrap mx-sm-1 mx-md-3 mx-lg-5"> -->
        {% for product in product_list %}
        <div class="card-container pt-2 px-3 pb-0 m-md-1 my-md-4">
            <div class="card mb-3 border-bottom border-light">
                <div
                    class="card-img my-auto {% if product.product_type.type_code == 'TS' %}card-img-bg {% endif %}position-relative"> 
                {% for category in product.get_categories %}
                    {% if category.slug == "new" %}
                    <span class="badge bg-orange border border-dark text-light position-absolute top-0 end-0 mb-2">New</span>
                    {% endif %}
                {% endfor %}
                {% for category in product.get_categories %}
                    {% if category.slug == "specials" %}
                    <span class="badge bg-orange text-light position-absolute top-0 end-0 mb-2">Special offer</span>
                    {% endif %}
                {% endfor %}
                
                    {% if product.image %}
                    <a href="{% url 'products:product_details' product.id %}">
                        <img class="{% if product.product_type.type_code == 'TS' %}card-img-top{% endif %} img-fluid"
                            src="{{ product.image.url }}" alt="{{ product.name }}" aria-label="Image of {{product.name}}">  
                        <!-- <img class="img-fluid"
                            src="{{ product.image.url }}" alt="{{ product.name }}" aria-label="Image of {{product.name}}">   -->
                    </a>
                    {% else %}
                    <a href="{% url 'products:product_details' product.id %}" class="m-auto">
                        <img class="img-fluid" src="{{MEDIA_URL}}noimage.png" alt="{{ product.name }}" aria-label="Image of {{product.name}}">
                    </a>
                    {% endif %}
                    
                </div>
                <form action="{% url 'bag:add_to_bag' product.id %}" method="POST" class="px-0 py-0">
                    {% csrf_token %}
                    <!-- <div class="mt-3 end-0 d-flex justify-content-end"> -->
                    <input type="submit" class="btn main-btn-1 rounded-0 w-100 smaller-text" value="Add to bag">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <!-- </div> -->
                    <div class="card-footer bg-white pt-0 order-0 justify-content-center h-100">
                        <div class="row mt-1">
                            <p class="smaller-text mb-1 border-bottom border-secondary text-blue px-0">
                                {{ product.product_name }}
                            </p>
                            <p class="smaller-text mb-1 border-bottom border-secondary px-0">£{{ product.price }}</p>
                            {% if star_ratings %}
                            {% for rated_product, stars in star_ratings.items %}
                                {% if rated_product == product %}
                                <small class="px-0 text-muted border-bottom pb-1">
                                    {% for star in stars %}
                                    {% if star == 'star' %}
                                    <i class="fas fa-star text-yellow"></i> 
                                    {% elif star == 'h_star' %}
                                    <i class="fas fa-star-half text-yellow"></i>
                                    {% endif %}
                                    {% endfor %}
                                </small>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                            <small class="px-0 text-muted border-bottom border-secondary">No rating</small>
                            {% endif %}
                            <div class="form-row px-0">
                                <!-- Sizes -->
                                {% if product.get_sizes %}
                                <div class="size-selector border-secondary d-flex flex-row flex-wrap" id="sizes">
                                    <!-- <span class="me-2">Sizes:</span> -->
                                    {% for size in product.get_sizes %}
                                    <div class="size-box my-2 me-2">
                                        <input id="id_size-{{ size.slug }}_prod-{{ product.id }}" type="radio"
                                            class="size d-none" name="size" value="{{ size.slug }}">
                                        <label for="id_size-{{ size.slug }}_prod-{{ product.id }}"
                                            class="border size-box smaller-text" title="{{ size.size_long }}"
                                            aria-label="{{ size.size_long }}">{{ size.size_short }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <!-- Colors -->
                                {% if product.get_colors %}
                                <div class="color-selector d-flex flex-row flex-wrap mt-2">
                                    <!-- Colors:  -->
                                    {% for color in product.get_colors %}
                                    <div class="circle bg-{{ color.slug }} me-2 mb-1">
                                        <input id="id_color-{{ color.slug }}_prod-{{ product.id }}" type="radio"
                                            class="d-none" name="color" value="{{ color.slug }}">
                                        <label for="id_color-{{ color.slug }}_prod-{{ product.id }}"
                                            class="circle{% if color.slug == 'white' %}-white{% endif %}"
                                            title="{{ color }}" aria-label="{{ color }}"></label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <input class="form-control qty_input id_qty_{{ product.id }}" type="hidden"
                                    name="quantity" value="1" data-item_id="{{ product.id }}"
                                    id="id_qty_{{ product.id }}">
                            </div>
                        </div>
                    </div>
                </form>
                {% if request.user.is_superuser %}
                <small class="mt-2">
                    <a href="{% url 'products:edit_product' product.pk %}"
                        class="text-dgreen p-1 px-3 main-btn-2 me-2" aria-label="Edit">EDIT</a>
                    <a role="button" class="delete bs-modal text-red p-1 ms-2 main-btn-3"
                        data-form-url="{% url 'products:delete_product' product.pk %}" aria-label="Delete">DELETE</a>
                </small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100" aria-label="Back to top button">
        <i class="fas fa-arrow-up text-yellow mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
<script src="{% static 'products/js/bs_modal_forms.js' %}"></script>

<!-- <script src="{% static 'products/js/bs_modal_forms.js' %}"></script> -->
{% endblock %}