{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay img-fluid"></div>
    <div class="container-fluid min-top-margin">
        <div class="row">
            <div class="col text-left mt-5">
                <!-- <h2 class="logo-font text-lgreen text d-inline">Products: </h2> -->
                <span class="text-lgreen fs-4 d-inline">
                    {% if search_term %}
                    Results for {{ search_term }} | {{ product_list.count }} products</span> 
                    <span class="ms-5">
                        <a href="{% url 'products:products' %}" class="text-yellow undecorated">Clear search</a>
                        
                    {% elif current_categories %}
                    Results for 
                    {% for category in current_categories %}{{ category.friendly_name }} | {% endfor %}  {{ product_list.count }} products</span>
                    <span class="ms-5">
                        <a href="{% url 'products:products' %}" class="text-yellow undecorated">Clear filter</a>
                    </span>
                    {% elif product_list.count == 0 %}
                    No products found
                    <span class="ms-5">
                        <a href="{% url 'products:products' %}" class="text-yellow undecorated">Clear filter</a>
                    </span>
                    {% else %}
                    All products: {{ product_list.count }}
                    {% endif %}
                    <hr class="text-lgreen">
            
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row">
                    {% for product in product_list %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-bottom border-light">
                                {% if product.image %}
                                <a href="{#% url 'products:product_detail' product.id %#}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{#% url 'products:product_detail' product.id %#}">
                                    <!-- <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dcslh2m3b/image/upload/b_rgb:faec70,o_29/v1645729817/seux34sx1yipyvm740l0.jpg" alt="{{ product.name }}"> -->
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}stock-photo-white-t-shirt-isolated-199781549.jpeg" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <!-- <p class="mb-0">{{ product.description }}</p> -->
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col text-green fs-5">
                                            <div>{{ product.product_name }}</div>
                                            <div class="lead text-left font-weight-bold position-absolute end-0 fw-bold me-2">£{{ product.price }}</div>
                                            <br><br>
                                            
                                            <div class="d-flex flex-row flex-wrap my-2">
                                                <span class="me-2">Sizes:</span>
                                                {% for size in product.get_sizes %}
                                                <span class="col me-1 fs-heavy size-box me-2">{{ size }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="d-flex flex-row p-2 my-2">
                                                {% for color in product.get_colors %}
                                                <div class="circle bg-{{ color.lower }} me-2"><a href=""></a></div>
                                                {% endfor %}
                                            </div>
                                            {% if product.category %}
                                            <p class="mt-1 mb-0">
                                                {% for category in product.get_categories %}
                                                <a class="text-muted small text-undecorated" href="{% url 'products:products' %}?category={{ product.get_categories}}">
                                                    <i class="fas fa-tag me-1"></i>{{ category }}
                                                </a>
                                                {% endfor %}
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="">Edit</a> | 
                                                    <a class="text-danger" href="">Delete</a>
                                                </small>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a href="" class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-yellow mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(".btt-link").click(function(e){
            window.scrollTo(0,0)
        })
    </script>
    <!-- <script type="text/javascript">
        $("#sort-selector").change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset"){
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            }else{
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                
                window.location.replace(currentUrl);
            }
        })
    </script> -->
{% endblock %}