{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container-fluid p-5 pb-2">
    <div class="row">
        <h3 class="col text-dgreen">Product details</h3>
    </div>
    <hr>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<!-- <div class="overlay img-fluid"></div> -->
<div class="container-fluid px-5">
    <div class="row bg-light w-md-75 p-md-2 m-auto">
        <div class="col-12 col-md-7">
            <!-- Image -->
            <div class="py-auto">
                {% if product.image %}
                <!-- <a href="{{ product.image.url }}" target="_blank" class="undecorated"> -->
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid"
                    src="{{MEDIA_URL}}noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="product-details-container mt-md-5">
                {#% include 'products/includes/add_rating.html' %#}
                <!-- <a href="{#% url '' %#}" class="link-button">Rate this product</a> -->
                <!-- Product name and price -->
                <div class="lead">
                    <h3 class="col">{{ product.product_name|upper}}</h3>
                    <p class="fs-5">{{ product.description }}</p>
                    <p class="col d-inline text-left fw-bold text-dorange">£{{ product.price }}</p>
                </div>
                
                <form action="{% url 'bag:add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <!-- Sizes -->
                        {% if product.get_sizes %}
                        <p class="mt-4 me-2 fw-bolder small">Sizes:</p>
                        <div class="size-selector d-flex flex-row flex-wrap mb-4 align-items-center" id="sizes">
                            {% for size in product.get_sizes %}
                            <div class="size-box me-2">
                                <input id="id_size-{{ size.slug }}_prod-{{ product.id }}" type="radio" class="size d-none"
                                    name="size" value="{{ size.slug }}">
                                <label for="id_size-{{ size.slug }}_prod-{{ product.id }}"
                                    class="border size-box">{{ size.size_short }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- Colors -->
                        {% if product.get_colors %}
                        <p class="mt-4 me-2 fw-bolder small">Colors:</p>
                        <div class="color-selector d-flex flex-row flex-wrap my-4 align-items-center">
                            {% for color in product.get_colors %}
                            <div class="circle bg-{{ color.slug }} ms-2">
                                <input id="id_color-{{ color }}_prod-{{ product.id }}" type="radio" class="color d-none"
                                    name="color" value="{{ color.slug }}">
                                <label for="id_color-{{ color }}_prod-{{ product.id }}" class="circle"></label>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- Rating stars -->
                        {% if avg_ratings %}
                        <div class="mt-3 small"> 
                            {% for rated_product, rating in avg_ratings.items %}
                                {% if rated_product == product %}
                                    {% for star in stars %}
                                        <i class="fas fa-star small"></i>
                                    {% endfor %}
                                    {% if h_star %}
                                       <i class="fas fa-star-half small"></i>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            Not yet rated
                        </div>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <a data-form-url="{% url 'products:add_rating' product.pk %}" class="add-rating undecorated text-uppercase text-dgreen ms-2" title="Rate product" aria-label="Rate product">Rate product</a>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty decrement-qty_{{ product.id }} btn rounded-0 border"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty increment-qty_{{ product.id }} btn border rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-3 end-0 justify-content-end">
                        <input type="submit" class="main-btn-1 my-2 w-100" value="Add to bag">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <a href="{% url 'products:products' %}"
                            class="undecorated"><div class="w-100 main-btn-2 my-2 text-center text-dark">Go back</div></a>
                    </div>
                </div>
                </form>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'products:edit_product' product.pk %}">Edit</a> | 
                    <a type="button" class="delete bs-modal text-danger"
                                        data-form-url="{% url 'products:delete_product' product.pk %}">Delete</a>
                </small>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <h4>You might also like</h4>
        (display other products in the same category)
    </div>
    
    <div class="container-fluid mt-4">
        <h5 class="mb-5">What our clients say about <strong>{{ product.product_name }}</strong></h5>
        {% if product %}
        {% for rated_product, ratings in latest_product_ratings.items %}
        <!-- {{ rated_product }} - {{ ratings }} -->
            {% if rated_product.pk == product.pk %}
            {% for rating in ratings %}
            {{ rating.rating }}
            {% endfor %}
            {% endif %}
        {% endfor %}
            {% for rating in latest_product_ratings.product %}
            <div class="small">
                <div class="d-flex flex-row mt5">
                    <p class="me-4">{{ rating.user }}</p>
                    <!-- <p>Rating:  -->
                        {% if rating.rating == 5 %}
                            {% include 'products/includes/5_stars.html' %}
                        {% elif rating.rating == 4 %}
                            {% include 'products/includes/4_stars.html' %}
                        {% elif rating.rating == 3 %}
                            {% include 'products/includes/3_stars.html' %}
                        {% elif rating.rating == 2 %}
                            {% include 'products/includes/2_stars.html' %}
                        {% else %}
                            {% include 'products/includes/1_star.html' %}
                        {% endif %}
                </div>
                <div>{% if rating.comment %}
                    Comment: {{ rating.comment }}
                    {% endif %}
                </div>
            </div>
            <hr class="w-50">
            {% endfor %}
        {% else %}
            <div>No ratings yet, be the first</div>
        {% endif %}
        {% if older_product_ratings %}
        <div class="older_ratings">
            <a data-bs-toggle="collapse" href="#collapseMoreRatings" role="button" aria-expanded="false" aria-controls="collapseMoreRatings">
                More ratings...</a>
            <div class="collapse" id="collapseMoreRatings">
                {% for rating in older_product_ratings %}
            <div>
                <div class="d-flex flex-row mt5">
                    <p class="me-5">User: {{ rating.user }}</p>
                        {% if rating.rating == 5 %}
                            {% include 'products/includes/5_stars.html' %}
                        {% elif rating.rating == 4 %}
                            {% include 'products/includes/4_stars.html' %}
                        {% elif rating.rating == 3 %}
                            {% include 'products/includes/3_stars.html' %}
                        {% elif rating.rating == 2 %}
                            {% include 'products/includes/2_stars.html' %}
                        {% else %}
                            {% include 'products/includes/1_star.html' %}
                        {% endif %}
                </div>
                <div>{% if rating.comment %}
                    Comment: {{ rating.comment }}
                    {% endif %}
                </div>
            </div>
            <hr class="w-50">
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    
        {% endblock %}

        {% block postloadjs %}
        {{ block.super }}
        {% include 'products/includes/quantity_input_script.html' %}
        <script src="{% static 'products/js/products.js' %}"></script>
        <script src="{% static 'products/js/bs_modal_forms.js' %}"></script>
        {% endblock %}